# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/service_container.html
parameters:
    #parameter_name: value

services:
    #service_name:
    #    class: AppBundle\Directory\ClassName
    #    arguments: ['@another_service_name', 'plain_value', '%parameter_name%']
  meetup_client:
    class: DMS\Service\Meetup\MeetupKeyAuthClient
    factory: ['DMS\Service\Meetup\MeetupKeyAuthClient', 'factory']
    arguments: [ {key: '%env(MEETUP_API_KEY)%'} ]
