{% extends '@App/master.html.twig' %}

{% block jumbotron %}
    <div class="jumbotron"></div>
    {#<div class="jumbotron">
        <div class="container">
            <h1>Hello, Berlin!</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button" title="test" data-toggle="tooltip">Learn more &raquo;</a></p>
        </div>
    </div>
    #}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2>Upcoming Meetups</h2>
            {% for meetup in calendar %}
                {% include 'AppBundle:Meetup:_meetup.html.twig' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}